@import 'themes/dark';
@import 'themes/light';
@import 'variables/global';
@import 'normalize.css';
@import 'fonts/fonts.scss';


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  width: 100%;
  background: var(--background);
  color: var(--text);
  display: flex;
  flex-flow: row nowrap;
}
