:root {
  --orange-1: #9e3012;
  --orange-2: #c64e19;
  --orange-3: #e97b37;

  --red-1: #9e1421;
  --red-2: #c7332a;
  --red-3: #e05048;

  --blue-1: #04257e;
  --blue-2: #0e40c7;
  --blue-3: #3769f1;

  --green-1: #337653;
  --green-2: #4ea45a;
  --green-3: #6dc872;

  --purple-1: #2d268c;
  --purple-2: #453dbf;
  --purple-3: #6060e9;

  --neutral-1: #172233;
  --neutral-2: #39404f;
  --neutral-3: #585e6c;
  --neutral-4: #757c86;
  --neutral-5: #b2b8bd;
  --neutral-6: #d4d6da;
  --neutral-7: #dfe1e4;
  --neutral-8: #ecedef;

  --rad-1: 5px;
  --rad-2: 10px;
  --rad-3: 20px;

  --h-navbar: 80px;

  --deep-dark: #1e1f28;
  --medium-dark: #2d303d;
  --deep-gray: #727483;
  --medium-gray: #a4a6b1;
  --light-gray: #f5f6f8;
  --deep-blue: #143577;
  --medium-blue: #154386;
  --regular-blue: #105FB6;
  --blue: #007cef;
  --green: #00a589;
  --purple: #8c44d4;
  --yellow: rgb(255, 255, 0);

  --fz-xl: 1.5rem;
  --fz-l: 1.25rem;
  --fz-m: 1.13rem;
  --fz-s: 1rem;
}
