@import '@/app/styles/mixins/mixins';

.RoomsList {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

.RoomsListContainer {
    position: relative;
    display: inherit;
    flex-flow: inherit;
    align-items: stretch;
    gap: 20px;
    overflow-y: auto;
    width: 100%;
    height: min-content;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &::before,
    &::after {
        content: '';
        position: sticky;
        top: 0;
        user-select: none;
        pointer-events: none;
        padding: 1rem;
        margin-bottom: -20px;
        background: rgb(255 255 255);
        background: linear-gradient(
            0deg,
            rgb(255 255 255 / 0%) 0%,
            var(--background) 100%
        );
    }

    &::after {
        bottom: 0;
        background: linear-gradient(
            0deg,
            var(--background) 0%,
            rgb(255 255 255 / 0%) 100%
        );
    }
}

.Header {
    @include card-style;

    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1.1rem;
    background: rgb(255 255 255 / 10%);
    backdrop-filter: blur(0.5rem);
    z-index: 1;
}

.Card {
    flex: 1 0;
}
