.CreateSessionPage {
    padding: 50px;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.Column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 0 1 50rem;
}

.ColumnRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-flow: row nowrap;
}

.Title {
    text-align: center;
    font-size: var(--fz-xxl);
}

.Subtitle {
    text-align: center;
    font-size: var(--fz-m);
    color: var(--secondary-text);
    line-height: 140%;
}

.JoinButton {
    background-color: var(--green);

    &Icon {
        width: 2rem;
        height: 2rem;
    }
}
