.ConferencePage {
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
}

.ConferenceHeader {
    flex: 0 1;
}

.ConferenceContent {
    flex: 1 1;
}

.ConferenceTools {
    flex: 0 1;
}
