@import "@/app/styles/mixins/mixins";

.RecentList {
  display: flex;
  flex-flow: column nowrap;
}

.RecentListContainer {
  position: relative;
  display: inherit;
  flex-flow: inherit;
  align-items: stretch;
  gap: 20px;
  overflow-y: auto;
  width: 100%;
  height: min-content;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &::before, &::after {
    content: '';
    position: sticky;
    top: 0;
    user-select: none;
    pointer-events: none;
    padding: 1rem;
    margin-bottom: -20px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, var(--background) 100%);
  }

  &::after {
    bottom: 0;
    background: linear-gradient(0deg, var(--background) 0%, rgba(255,255,255,0) 100%);
  }
}

.Header {
  @include card-style;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1.1rem;
  background: rgb(255 255 255 / 20%);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
  border: 1px solid rgb(255 255 255 / 30%);
  z-index: 1;
}

.Card {
  flex: 1 0;
}
