.UserItem {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    font-size: var(--fz-l);
    color: var(--text);
}

.UserName {
    margin-left: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.UserAvatar {
    min-height: 3rem;
    min-width: 3rem;
}

.UserContainer {
    overflow: auto;
    height: calc(100% - 3rem);
    padding-left: 0.75rem;
}
