.PreviewWrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 20px;
}

.PreviewStream {
    width: 740px;
    height: 416px;
    overflow: hidden;
    border-radius: var(--b-rad-l);
    background-color: var(--medium-dark);
    position: relative;
}

.PreviewStreamVideo {
    width: 740px;
    height: 416px;
    transform: scaleX(-1);
    object-fit: cover;
}

.VideoOverlay {
    position: absolute;
    inset: 0;
    z-index: 1;

    &::after,
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        background: rgb(0 0 0);
        height: 50%;
        transition: opacity 0.2s ease;
        opacity: 0;
        user-select: none;
        pointer-events: none;
    }

    &::before {
        background: linear-gradient(
            0deg,
            rgb(0 0 0 / 0%) 20%,
            rgb(0 0 1 / 50%) 100%
        );
        top: 0;
    }

    &::after {
        background: linear-gradient(
            180deg,
            rgb(0 0 0 / 0%) 20%,
            rgb(0 0 1 / 50%) 100%
        );
        bottom: 0;
    }
}

.NotAllowedError {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--fz-l);
}

.PreviewStream:hover {
    .VideoOverlay::before,
    .VideoOverlay::after {
        opacity: 1;
    }
}

.VideoActions {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 1;
}

.VideoActionsHidden {
    display: none;
}

.MediaInfo {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.MediaText {
    padding: 5px 10px;
    border: 2px solid var(--neutral-5);
    background: var(--neutral-8);
    color: var(--neutral-1);
    border-radius: var(--b-rad-l);
    user-select: none;
    font-weight: 200;
}
