.AppButton {
  cursor: pointer;
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0);
}


.primary {
  padding: 8px 16px;
  background: var(--blue);
  color: var(--neutral-8);
  font-size: var(--fz-s);
  outline: none;
  border-radius: 100px;
  transition: all .2s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0);

  &:hover {
    background: var(--medium-blue);
  }
}
