.DateTimeCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    height: 110px;
    width: 100%;
    background: var(--navbar-background);
}

.Date {
    font-size: var(--fz-xl);
    font-weight: 300;
}

.Time {
    font-size: 4rem;
}
