.ThemeSwitcher {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	color: var(--text);
	background: rgb(255 255 255 / 0%);
	transition: all 1s ease-in-out;
	cursor: pointer;
}

.ThemeSwitcherIcon {
	width: 30px;
	height: 30px;
}

.Dark {
	transform: rotate(360deg);
	color: var(--yellow);
}
