.ThemeSwitcher {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  color: var(--text);
  background: rgba(255, 255, 255, 0);
  transition: color .2s ease-in-out;
  cursor: pointer;
}

.ThemeSwitcherIcon {
  width: 30px;
  height: 30px;
}


.Dark {
  color: var(--yellow);
}
